// Fonts

@mixin form-font {
  font-family: sans-serif;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
}

// Remove Browser Defaults

@mixin appearance-none {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}

// Flex Box Polyfills

@mixin flexbox {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

@mixin flex-row {
  @include flexbox;
  -webkit-box-direction: normal;
  -webkit-box-orient: horizontal;
  -moz-box-direction: normal;
  -moz-box-orient: horizontal;
  flex-direction: row;
}

@mixin flex-row-reverse {
  @include flexbox;
  -webkit-box-direction: reverse;
  -webkit-box-orient: horizontal;
  -moz-box-direction: reverse;
  -moz-box-orient: horizontal;
  flex-direction: row-reverse;
}

@mixin flex-col {
  @include flexbox;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -moz-box-direction: normal;
  -moz-box-orient: vertical;
  flex-direction: column;
}

@mixin flex-col-reverse {
  @include flexbox;
  -webkit-box-direction: reverse;
  -webkit-box-orient: vertical;
  -moz-box-direction: reverse;
  -moz-box-orient: vertical;
  flex-direction: column-reverse;
}

// Opacity Polyfills

@mixin opacity($decimalValue) {
  filter: alpha(opacity=$decimalValue*100);
  -moz-opacity: $decimalValue;
  -khtml-opacity: $decimalValue;
  opacity: $decimalValue;
}

// Focus Polyfills

@mixin focus-outline {
  outline: 2px dotted black;
  outline-offset: 0px;
  outline: 5px auto -webkit-focus-ring-color;
}

// Un-selectable Text Polyfills

@mixin un-selectable-text {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

// Media Queries

$breakpoints: (
  break-sm: 480px,
  break-md: 748px,
  break-lg: 990px,
  break-xl: 1180px
);

@function generateRange($from, $to) {
  $from: if($from == null, null, map-get($breakpoints, $from) + 1px);
  $to: if($to == null, null, map-get($breakpoints, $to));
  @return (from: $from, to: $to);
}

@mixin mediaQuery($from, $to) {
  $range: generateRange($from, $to);
  $gteWidth: map-get($range, from);
  $lteWidth: map-get($range, to);

  $gteWidth: if($gteWidth == null, null, (min-width: $gteWidth));
  $lteWidth: if($lteWidth == null, null, (max-width: $lteWidth));

  @if $gteWidth == null {
    @media #{$lteWidth} {@content;}
  }
  @else if $lteWidth == null {
    @media #{$gteWidth} {@content;}
  }
  @else {
    @media #{$gteWidth} and #{$lteWidth} {@content;}
  }
}

// TODO: put this in a loop
@mixin smallScreenSize {
  @include mediaQuery(null, 'break-sm') {@content};
}

@mixin mediumScreenSize {
  @include mediaQuery('break-sm', 'break-md') {@content};
}

@mixin largeScreenSize {
  @include mediaQuery('break-md', 'break-lg') {@content};
}

@mixin extraLargeScreenSize {
  @include mediaQuery('break-lg', 'break-xl') {@content};
}

@mixin extraExtraLargeScreenSize {
  @include mediaQuery('break-xl', null) {@content};
}

// Icons in Base64

$eyeIcon: inlineSvg('<svg width="19" height="12" viewBox="0 0 19 12" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M18.7808 4.98847C16.9209 1.99841 13.4521 0 9.5 0C5.54629 0 2.07827 1.99981 0.219241 4.98847C0.0757017 5.21922 0 5.48217 0 5.75002C0 6.01786 0.0757017 6.28081 0.219241 6.51156C2.07916 9.50159 5.54794 11.5 9.5 11.5C13.4537 11.5 16.9217 9.50019 18.7808 6.51153C18.9243 6.28078 19 6.01784 19 5.75C19 5.48216 18.9243 5.21921 18.7808 4.98847ZM9.5 10C6.11708 10 3.16368 8.29059 1.58335 5.75C3.03991 3.40834 5.66296 1.77281 8.71368 1.53103C9.03681 1.84619 9.23611 2.27594 9.23611 2.75C9.23611 3.7165 8.40908 4.5 7.38889 4.5C6.3687 4.5 5.54167 3.7165 5.54167 2.75L5.54171 2.74869C5.20502 3.34509 5.0139 4.02637 5.0139 4.75C5.0139 7.09722 7.02238 9 9.5 9C11.9776 9 13.9861 7.09722 13.9861 4.75C13.9861 3.78028 13.643 2.88659 13.066 2.17141C14.8999 2.89494 16.4274 4.15956 17.4167 5.75C15.8364 8.29059 12.8829 10 9.5 10Z" fill="#454545"/></svg>');
$eyeCrossedIcon: inlineSvg('<svg width="20" height="18" viewBox="0 0 20 18" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M9.46883 12.4701C6.67429 12.1572 4.73925 9.45323 5.40876 6.67004L9.46883 12.4701ZM10 13.6111C6.43904 13.6111 3.33015 11.7118 1.66668 8.88889C2.42206 7.60705 3.47571 6.51591 4.73418 5.70632L3.7779 4.34025C2.32644 5.28591 1.10838 6.55351 0.23078 8.04274C0.0796861 8.29914 0 8.59131 0 8.88891C0 9.18651 0.0796861 9.47868 0.23078 9.73507C2.18765 13.0558 5.83821 15.2778 10 15.2778C10.4601 15.2778 10.9198 15.2504 11.3767 15.1956L10.2648 13.6073C10.1766 13.6097 10.0883 13.611 10 13.6111ZM19.7692 9.73503C18.6154 11.6932 16.8727 13.2677 14.7847 14.2313L16.4554 16.6181C16.5874 16.8066 16.5415 17.0664 16.353 17.1984L15.633 17.7024C15.4445 17.8344 15.1847 17.7885 15.0527 17.6L3.5446 1.1597C3.41262 0.971193 3.45849 0.711367 3.64699 0.579423L4.36703 0.0753611C4.55554 -0.0566178 4.81536 -0.0107498 4.94731 0.177757L6.87529 2.93209C7.86849 2.65081 8.91696 2.50001 10 2.50001C14.1618 2.50001 17.8124 4.72202 19.7692 8.04274C19.9203 8.29914 20 8.5913 20 8.88889C20 9.18648 19.9203 9.47864 19.7692 9.73503ZM18.3333 8.88889C16.8001 6.28705 14.039 4.4698 10.8277 4.20115C10.4876 4.55133 10.2778 5.02883 10.2778 5.55556C10.2778 6.62945 11.1483 7.5 12.2222 7.5C13.2961 7.5 14.1667 6.62945 14.1667 5.55556L14.1666 5.5541C15.2303 7.54288 14.7479 10.077 12.8844 11.5166L13.8113 12.8407C15.7162 12.033 17.3024 10.6384 18.3333 8.88889Z" fill="#454545"/></svg>');
$downArrowIconGrey: inlineSvg('<svg width="12" height="7" viewBox="0 0 12 7" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0.807433 0H11.1926C11.911 0 12.2702 0.86051 11.7617 1.36481L6.57112 6.51586C6.2563 6.82805 5.7437 6.82805 5.42888 6.51586L0.23833 1.36481C-0.270231 0.86051 0.0889903 0 0.807433 0Z" fill="#757575"/></svg>');
$downArrowIconBlue: inlineSvg('<svg width="10" height="8" viewBox="0 0 10 8" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0.672861 0.0344849H9.32714C9.92584 0.0344849 10.2252 0.974122 9.80139 1.52479L5.47593 7.1495C5.21358 7.4904 4.78642 7.4904 4.52407 7.1495L0.198608 1.52479C-0.225193 0.974122 0.0741586 0.0344849 0.672861 0.0344849Z" fill="#1C90B6"/></svg>');
$upArrowIconOrange: inlineSvg('<svg width="10" height="8" viewBox="0 0 10 8" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M9.32714 7.40517L0.672861 7.40517C0.0741587 7.40517 -0.225192 6.46553 0.198608 5.91486L4.52407 0.290147C4.78642 -0.050745 5.21358 -0.050745 5.47593 0.290147L9.80139 5.91486C10.2252 6.46553 9.92584 7.40517 9.32714 7.40517Z" fill="#F99D33"/></svg>');
