@import "../../../mixin";

.Button {
  padding: 0 4px;

  & ::slotted(input) {
    background: #F17683;
    border-radius: 2px;

    @include form-font;
    font-size: 14px;
    text-align: center;

    color: #FFFFFF;

    height: 40px;
    width: 100%;
  }
}
