@import "../../../mixin";

.Input {
  @include flex-col;

  margin: 0 16px;
  padding: 8px 0 4px 0;

  @at-root &__Label {
    @include form-font;
    font-size: 16px;

    /* Website Black */
    color: #454545;

    margin-top: 11px;
    margin-bottom: 4px;
  }

  @at-root &__Text {
    @include flex-row;
    height: 38px;

    /* Website gray */
    border: 1px solid #757575;

    box-sizing: border-box;
    border-radius: 2px;

    margin-bottom: 6px;

    a {
      display: inline-block;
      width: 40px;

      &[hide-password-visibility-toggle] {
        display: none;
      }
      &[eye-icon] {
        background: url($eyeIcon) no-repeat right 12px top 50%;
      }
      &[eye-crossed-icon] {
        background: url($eyeCrossedIcon) no-repeat right 12px top 50%;
      }
    }

    &[hightlight-error] {
      border: 1px solid #FE0000;
    }
  }

  &__Password-Requirement {
    font-family: DejaWeb;
    line-height: 27px;
    font-size: 15px;

    /* Dark Grey #757575 */
    color: #707070;
  }

  [hide-password-requirement] {
    display: none;
  }

  &[remove-padding-bottom] {
    padding-bottom: 0px;
  }

  &__Error {
    &[hide-error] {
      display: none;
    }
  }
}
