<div class="Input" remove-padding-bottom$="[[isPassword]]">
    <div class="Input__Label">
        <slot name="editing-form-label-cell"></slot>
    </div>
    <div class="Input__Text" hightlight-error$="[[!hideError]]">
        <slot name="editing-form-value-cell"></slot>
        <a href="javascript:void(0)"
           hide-password-visibility-toggle$="[[!isPassword]]"
           eye-crossed-icon$="[[isPasswordVisible]]"
           eye-icon$="[[!isPasswordVisible]]"
           on-click="toggle">
        </a>
    </div>
    <div hide-password-requirement$="[[!isPassword]]" class="Input__Password-Requirement">
        Minimum 10 characters, 2 special character, and 3 number
    </div>
    <demo-sign-up-form-error class="Input__Error"
                                  hide-error$="[[hideError]]"
                                  validation-type="[[validationType]]">
    </demo-sign-up-form-error>
</div>
