<div class="Select">
    <div class="Select__Label">
        <slot name="editing-form-label-cell"></slot>
    </div>
    <div class="Select__Text" hightlight-error$="[[!hideError]]">
        <slot name="editing-form-value-cell"></slot>
    </div>
    <demo-sign-up-form-error class="Select__Error"
                                  hide-error$="[[hideError]]"
                                  validation-type="[[validationType]]">
    </demo-sign-up-form-error>
</div>
