@import "../../../mixin";

.Select {
  @include flex-col;

  margin: 0 16px;
  padding: 8px 0 4px 0;

  @at-root &__Label {
    @include form-font;
    font-size: 16px;

    color: #454545;

    margin-top: 11px;
    margin-bottom: 4px;
  }

  @at-root &__Text {
    height: 38px;

    border: 1px solid #757575;

    box-sizing: border-box;
    border-radius: 2px;

    margin-bottom: 6px;

    &[hightlight-error] {
      border: 1px solid #FE0000;
    }
  }

  &__Error {
    &[hide-error] {
      display: none;
    }
  }
}
