@import "../../../mixin";

.Form {
  h1 {
    @include form-font;
    font-size: 30px;
    text-align: center;
    letter-spacing: 0.0005em;
    text-transform: capitalize;

    color: #454545;
  }

  .Link {
    @include flexbox;
  }

  a {
    font-family: sans-serif;
    font-weight: normal;
    line-height: 26px;
    font-size: 16px;
    text-decoration-line: underline;

    color: #F9B9A7;

    margin: 0 auto;
    margin-bottom: 8px;
  }

  @at-root &__Container {
    @include flex-row;
    flex-wrap: wrap;

    @at-root &__One-Per-Row {
      flex-basis: 100%;
    }

    @at-root &__Two-Per-Row {
      flex-basis: 50%;
    }
  }

  @at-root &__Submit {
    margin: 12px;
    margin-bottom: 16px;
  }

  @at-root &__Footnote {
    @include flex-col;
  }
}

// Design differences between screen sizes

@mixin mobileDesign {
  .Form {
    h1 {
      margin-top: 86px;
      margin-bottom: 8px;
    }

    @at-root &__Container {
      width: 288px;
      margin: 0 auto;

      padding: 0px 16px;

      @at-root &__One-Per-Row {
        flex-basis: 100%;
      }

      @at-root &__Two-Per-Row {
      }
    }
  }
}

@mixin tabletDesign {
  .Form {
    h1 {
      margin-top: 44px;
    }

    @at-root &__Container {
      width: 402px;// this is the widest the form can get without affecting responsiveness at this break point
      margin: 0 auto;

      padding: 0px 28px;
    }
  }
}

@mixin desktopDesign {
  .Form {
    h1 {
      margin-top: 72px;
      margin-bottom: 20px;
    }

    .Link {
      margin-bottom: 12px;
    }

    @at-root &__Container {
      width: 552px;
      margin: 0 auto;
    }
  }
}

// Mapping screen sizes to designs

@include smallScreenSize {
  @include mobileDesign;
}

@include mediumScreenSize {
  @include tabletDesign;
}

@include largeScreenSize {
  @include desktopDesign;
}

@include extraLargeScreenSize {
  @include desktopDesign;
}

@include extraExtraLargeScreenSize {
  @include desktopDesign;
}
