<div class="Form">

    <h1>
        Sign Up
    </h1>
    <div class="Link">
        <a href="javascript:void(0)">
            Or log in
        </a>
    </div>
    <div class="Form__Container">
        <div class="Form__Container__One-Per-Row Form__Container__Two-Per-Row">
            <slot name="FIRST_NAME"></slot>
        </div>
        <div class="Form__Container__One-Per-Row Form__Container__Two-Per-Row">
            <slot name="LAST_NAME"></slot>
        </div>
        <div class="Form__Container__One-Per-Row">
            <slot name="EMAIL"></slot>
        </div>
        <div class="Form__Container__One-Per-Row">
            <slot name="PASSWORD"></slot>
        </div>
        <!--<div class="Form__Container__One-Per-Row">-->
            <!--<slot name="confirmPassword"></slot>-->
        <!--</div>-->
        <div class="Form__Container__One-Per-Row">
            <slot name="USER_ROLE"></slot>
        </div>
        <div class="Form__Submit Form__Container__One-Per-Row">
            <slot name="SUBMIT"></slot>
        </div>
    </div>
    <!--<div id="forgotYourPassword" class="Link">-->
        <!--<a href="javascript:void(0)">-->
            <!--Forgot your password?-->
        <!--</a>-->
    <!--</div>-->
    <div class="Form__Footnote">
        <demo-account-footnote></demo-account-footnote>
    </div>

</div>
