<div class="Note">
    <p>
        <strong>Lorem ipsum dolor sit amet,</strong> consectetur adipisicing elit. Ab aliquam architecto delectus dolore doloribus earum eligendi, illum in incidunt maiores, modi mollitia nihil nulla placeat,
        <a href="javascript:void(0)">reset your password</a> quasi quibusdam sed tenetur voluptas! <a href="javascript:void(0)">contact us</a>.
    </p>
</div>

