@import "../../../mixin";

.Note {
  background-color: #A5917C;

  font-family: sans-serif;
  line-height: 26px;
  font-size: 16px;

  a {
    text-align: center;
    text-decoration-line: underline;

    color: #F9B9A7;
  }

  p {
    /* Black #454545 */
    color: #454545;

    margin: 0;
  }
}

// Design differences between screen sizes

@mixin mobileDesign {
  .Note {
    width: 256px;
    margin: 32px auto 72px auto;
    padding: 16px;
  }
}

@mixin tabletDesign {
  .Note {
    width: 328px;
    margin: 16px auto 24px auto;
    padding: 20px;
  }
}

@mixin desktopDesign {
  .Note {
    width: 478px;
    margin: 56px auto 12px auto;
    padding: 20px;
  }
}

// Mapping screen sizes to designs

@include smallScreenSize {
  @include mobileDesign;
}

@include mediumScreenSize {
  @include tabletDesign;
}

@include largeScreenSize {
  @include desktopDesign;
}

@include extraLargeScreenSize {
  @include desktopDesign;
}

@include extraExtraLargeScreenSize {
  @include desktopDesign;
}
