@import "../../../mixin";

.Nav {
  @include flex-col;
  margin: 0 auto;

  background-color: #F17683;

  #navMenuToggle {
    // make checkbox focus-able but invisible
    width: 0;
    height: 0;
    padding: 0;
    margin: 0;
    @include opacity(0);

    & + label > span {
      margin: 4px;
      cursor: pointer;
      color: white;
      font-size: large;
    }

    &:focus + label > span {
      @include focus-outline;
    }
  }

  &__Container {
    padding-left: 0;
    &__Item {
      @include flex-col;
      flex: 1;
      a {
        text-decoration: none;
        margin: 0 auto;

        &:link, &:visited, &:hover, &:focus, &:active {
          color: white;
        }
      }
    }
  }
}

// Design differences between screen sizes

@mixin mobileDesign {
  .Nav {
    width: 264px;
    padding: 12px;

    // toggle menu based on checkbox state
    #navMenuToggle {
      & + label + .Nav__Container {
        display: none;
      }
      &:checked + label + .Nav__Container {
        display: block;
      }
    }

    &__Container {
      @include flex-col;

      &__Item {
        font-size: large;

        a {
          margin: 4px auto 4px 28px;
        }
      }
    }
  }
}

@mixin tabletDesign {
  .Nav {
    width: 328px;
    padding: 20px;

    #navMenuToggle, #navMenuToggle + label {
      display: none;
    }

    &__Container {
      @include flex-row;
      justify-content: center;

      &__Item {
        font-size: large;
      }
    }
  }
}

@mixin desktopDesign {
  .Nav {
    width: 478px;
    padding: 20px;

    #navMenuToggle, #navMenuToggle + label {
      display: none;
    }

    &__Container {
      @include flex-row;
      justify-content: center;

      &__Item {
        font-size: x-large;
      }
    }
  }
}

// Mapping screen sizes to designs

@include smallScreenSize {
  @include mobileDesign;
}

@include mediumScreenSize {
  @include tabletDesign;
}

@include largeScreenSize {
  @include desktopDesign;
}

@include extraLargeScreenSize {
  @include desktopDesign;
}

@include extraExtraLargeScreenSize {
  @include desktopDesign;
}
