<div class="Nav">
    <input id="navMenuToggle" type="checkbox" aria-label="Show Navigation Menu" checked="{{ showNavMenu::change }}">
    <label for="navMenuToggle">
        <span>&#9776;</span>
    </label>
    <ul class="Nav__Container">
        <li class="Nav__Container__Item">
            <a href="https://www.npmjs.com/package/jacks-polymer3-cli" target="_blank" on-click="hideNavMenu">
                View Dev/Build Tool
            </a>
        </li>
        <li class="Nav__Container__Item">
            <a href="https://bitbucket.org/kdha200501/jacks-polymer3-demo/src/master/" target="_blank" on-click="hideNavMenu">
                View Demo Source
            </a>
        </li>
    </ul>
</div>
