@import "../../mixin";

/*
    Style to be applied to Shadow DOM

    - Shadow DOMs are elements to be contributed into slots
    - A custom Web Component can style top-level shadow DOMs, only
    - Shadow DOMs are styled prior to contribution to avoid flash of unstyled content (FOUC)
*/

@mixin form-field-container {
  @include flex-col;

  [slot="editing-form-value-cell"] {
    height: 100%;
  }
}

@mixin form-field {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding-left: 8px;

  border: 0;
  @include appearance-none;

  font-size: 16px;
}

demo-top-nav {// TODO: revisit this when spinner animation is ready
  display: none;
}
