<span hide-error$="[[!IS_REQUIRED(validationType)]]">
    Required
</span>
<span hide-error$="[[!MIN_LEN_1(validationType)]]">
    Minimum Length: 1
</span>
<span hide-error$="[[!MIN_LEN_2(validationType)]]">
    Minimum Length: 1
</span>
<span hide-error$="[[!MIN_LEN_10(validationType)]]">
    At least 10 characters
</span>
<span hide-error$="[[!MAX_LEN_50(validationType)]]">
    Max Length: 50
</span>
<span hide-error$="[[!MAX_LEN_100(validationType)]]">
    Max Length: 100
</span>
<span hide-error$="[[!NUM_MIN_LEN_3(validationType)]]">
    Must contain at least 3 number
</span>
<span hide-error$="[[!NUM_MAX_LEN_0(validationType)]]">
    Do not allow numbers
</span>
<span hide-error$="[[!SPECIAL_CHAR_MIN_LEN_2(validationType)]]">
    Must contain at least 2 special character
</span>
<span hide-error$="[[!HAS_AT_AND_DOT(validationType)]]">
    Check for '@' and '.'
</span>
