@import "../../mixin";

/*
    Style to be applied to Shadow DOM

    - Shadow DOMs are elements to be contributed into slots
    - A custom Web Component can style top-level shadow DOMs, only
    - Shadow DOMs are styled prior to contribution to avoid flash of unstyled content (FOUC)
*/

@mixin form-field-container {
  @include flex-col;

  [slot="editing-form-value-cell"] {
    height: 100%;
  }
}

@mixin form-field {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding-left: 8px;

  border: 0;
  @include appearance-none;

  font-size: 16px;
}

demo-sign-up-form {// TODO: revisit this when spinner animation is ready
  display: none;
}

demo-sign-up-form-input {
  @include form-field-container;

  input {
    @include form-field;
  }

  input::-ms-clear, input::-ms-reveal {
    display: none;
  }

  .password-strength {
    height: 100%;
  }

  .password-strength-text, .passw-strength-indicator {
    display: none;
  }

  [slot="editing-form-value-cell"] {
    flex: 1;
  }
}

demo-sign-up-form-select {
  @include form-field-container;

  select {
    @include form-field;
    background: url($downArrowIconGrey) no-repeat right 12px top 50%;
  }

  select::-ms-expand {
    display: none;
  }
}
